html {
  scroll-behavior: smooth;
}
body {
  font-family: "Viaoda Libre", cursive;
  font-size: 24px;
  color: #00462c;
  background-color: #ffffff;
  margin: 00px;
}
@media only screen and (max-width: 700px) {
  #header-img {
    max-width: 100%;
  }
  body {
    /* background: red; */
  }
}

#header-img {
  width: 100vw;
  max-width: 50%;
  border: 1px solid;
  margin: 0 auto;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #00462c;
  z-index: 1;

  position: fixed;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #00462c;
}
#nav-bar {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  border: 5px outset;
  background: #fff;
}
#catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
  max-width: fit-content;
  margin: auto;
}
.hats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: calc(100% / 3);
  margin: 10px;
  border: 5px outset;
}

#hats-list {
  display: flex;
  justify-content: center;
  /* max-width: (100% / 3); */
}
.iframe-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-width: 560px;
  max-width: 560px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  width: 80%;
  display: block;
  margin: auto;
}
#robin-img {
  max-width: 20vw;
}
#tricorn-img {
  max-width: 20vw;
}
#jester-img {
  max-width: 20vw;
}

#contact {
  /* padding-top: 20vh; */
  max-width: 70%;
  margin: auto 25%;
  border: 5px outset;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}
#form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#email {
  font-size: 18px;
  border: solid 1px transparent;
  font-family: "Viaoda Libre", cursive;
  margin: 15px;
}
#comments {
  font-size: 18px;
  border: solid 1px transparent;
  font-family: "Viaoda Libre", cursive;
  margin: 15px 45px 15px 75px;
}
#submit {
  border: solid 2px rgb(111, 111, 117);
  /* border-radius: 2px; */
  margin: 15px 130px;
  padding: 5px 10px;
  background-color: #fff;
}
#section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.faire {
  max-width: 70%;
  /* margin: auto 25%; */
  /* border: 5px outset; */
  padding: 10px;
}
#visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px outset;
}
p {
  max-width: 300px;
}
